api_key.txt
api-key.txt
.idea/misc.xml
.idea/.gitignore
.idea/modules.xml
.idea/vcs.xml
.idea/weatherLookup.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.vscode/settings.json
test.py
response.json
/__pycache__
/.idea
